<div class="container">
  <div class="block-move block-move-y-center block-move-x-left">
    <input type="text">
    <a class="btn btn-up" (click)="addClassTop($event)">
      <span class="lnr lnr-chevron-up"></span>
    </a>
    <a class="btn btn-right" (click)="addClassRight($event)">
      <span class="lnr lnr-chevron-right"></span>
    </a>
    <a class="btn btn-left" (click)="addClassLeft($event)">
      <span class="lnr lnr-chevron-left"></span>
    </a>
    <a class="btn btn-bottom" (click)="addClassBottom($event)">
      <span class="lnr lnr-chevron-down"></span>
    </a>
  </div>
</div>
